<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
  <test name="TestChrome">
  <parameter name= "node" value="http://192.168.58.1:4444/wd/hub"/>
  <parameter name= "browser" value= "chrome"/>
    <packages>
    
     <package name="com.PHPTravels.script.Login.ValidLogin"/>
     <package name="com.PHPTravels.script.Accounts.Customers"/>
          
       	
       </packages>
       
  </test> 
  
  
  
</suite>


